@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';

.container {
  composes: tag-list from '../tag-list/tag-list.css';
  composes: input-container from '../custom-field-input-text/custom-field-input-text.css';
  display: flex;
  height: auto;
  min-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
}

.read-write-container {
  composes: container;
  composes: read-write-input from '../custom-field-input-text/custom-field-input-text.css';
}

.read-only-container {
  composes: container;
  composes: read-only-input from '../custom-field-input-text/custom-field-input-text.css';
}

.invalid-container {
  composes: container;
  composes: invalid-input from '../custom-field-input-text/custom-field-input-text.css';
}

.tag-list {
  composes: tag-list from '../tag-list/tag-list.css';
  flex-grow: 1;
}

.autocomplete-input {
  border: none;
  margin: var(--spacing-small) var(--spacing-medium) var(--spacing-small) 0;
}

.icons-container {
  display: inline-flex;
  flex-shrink: 0;
  padding: calc(var(--spacing-small) + 1px) var(--spacing-medium);
}

.input-icon {
  composes: icon-base from '../icon/icon.css'; /* stylelint-disable-line css-modules/composed-class-names */
  pointer-events: none;
}

.popup-container {
  composes: container from '../listbox/listbox.css';
  background-color: var(--white);
  box-sizing: border-box;
  max-height: 160px;
  overflow: scroll;
  position: absolute;
  width: 100%;
  z-index: 10;
}
