.container {
  composes: tag-list from '../tag-list/tag-list.css';
  composes: input-container from '../__internal__/abstract-custom-field.css';
  height: auto;
  min-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.read-write-container {
  composes: container;
  composes: input from '../__internal__/abstract-custom-field.css';
}

.read-only-container {
  composes: container;
  composes: read-only-input from '../__internal__/abstract-custom-field.css';
}

.input-icon {
  composes: input-icon from '../__internal__/abstract-custom-field.css';
}
