.container {
  composes: tag-list from '../tag-list/tag-list.css';
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.read-write-container {
  composes: container;
  composes: input from '../custom-field-input-text/custom-field-input-text.css';
}

.read-only-container {
  composes: container;
  composes: read-only-input from '../custom-field-input-text/custom-field-input-text.css';
}

.input-icon {
  composes: input-icon from '../custom-field-input-text/custom-field-input-text.css';
}
