@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography.css';

.icon-wrapper {
  align-items: center;
  display: inline-flex;
}

.icon {
  composes: button from '../icon-button/icon-button.css';
  display: inline-flex;
  margin-left: var(--spacing-small);
  padding: var(--spacing-x-small);
}

.tag {
  align-items: center;
  background-color: var(--mds-grey-12);
  border-radius: var(--spacing-small);
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  height: 22px;
  max-width: 100%;
  padding-right: var(--spacing-x-small);
  padding-left: calc(var(--spacing-x-small) + var(--spacing-small));
  white-space: nowrap;
  width: min-content;
}

.read-only-tag {
  composes: tag;
  padding-right: calc(var(--spacing-x-small) + var(--spacing-small));
}

.content {
  color: var(--mds-grey-87);
  font-family: var(--mavenlink-type-font-family); /* stylelint-disable-line mds/typography */
  font-size: var(--mavenlink-type-base-size); /* stylelint-disable-line mds/typography */
  line-height: 18px; /* stylelint-disable-line mds/typography */
  overflow: hidden;
  text-overflow: ellipsis;
}
