@import "../../../src/styles/colors-v2.css";

.table {
  composes: table from '../../../src/components/table/table.css';
  border: 1px solid var(--mds-grey-12);
}

.header {
  composes: headerCell from '../../../src/components/table/table.css';
  min-width: 100px;

  /* For IE11 */
  text-align: left;
}
