@import '../../styles/spacing.css';

.section-row {
  display: flex;
}

.section-row > * {
  flex-basis: 200px;
}

.section-row > *:not(:last-child) {
  margin: 0;
  margin-right: var(--spacing-x-large);
}
