@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.container {
  display: inline-block;
  position: relative;
}

.label {
  display: block;
  font-family: var(--mavenlink-type-font-family);
  font-size: var(--mavenlink-type-small-size);
  margin: 0 0 var(--spacing-small);
  color: var(--palette-grey-dark);
}

.input {
  border: 1px solid var(--palette-grey-light);
  border-radius: 3px;
  box-sizing: border-box;
  font-family: var(--mavenlink-type-font-family);
  font-size: var(--mavenlink-type-base-size);
  height: 32px;
  margin: 0;
  padding: 6px var(--spacing-x-large) 7px var(--spacing-medium);
}

.input::placeholder {
  color: var(--palette-grey-dark);
}

.invalid-icon {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  right: 6px;
  top: 6px;
}

.invalid-input {
  composes: input;
  border-color: var(--palette-caution-base);
}

.invalid-input:hover {
  border-color: var(--palette-caution-hover);
}
