@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.input {
  border: 1px solid var(--palette-neutral-mid-light);
  border-radius: 3px;
  box-sizing: border-box;
  font-family: var(--mavenlink-type-font-family);
  height: 32px;
  margin: 0;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.input:hover {
  border-color: var(--palette-neutral-base);
}

.input::placeholder {
  font-family: var(--mavenlink-type-font-family);
  font-size: 13px;
  font-style: italic;
  color: var(--palette-neutral-mid-dark);
}
