@import "../../../src/styles/typography.css";

.heading {
  font-family: var(--mavenlink-type-font-headings); /* stylelint-disable-line mds/typography */
  font-size: 24px; /* stylelint-disable-line mds/typography */
  font-weight: 400; /* stylelint-disable-line mds/typography */
  margin-top: 32px;
}
