@import '../../styles/colors.css';
@import '../../styles/spacing.css';
@import '../../styles/typography.css';

.interactivity {
  cursor: pointer;
}

.typography {
  font-family: var(--mavenlink-type-font-family);
  font-size: var(--mavenlink-type-button-font-size);
  line-height: var(--spacing-x-large);
}

.button {
  composes: typography;
  composes: interactivity;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  padding-bottom: 0;
  padding-left: var(--spacing-x-large);
  padding-right: var(--spacing-x-large);
  padding-top: 0;
}

.button:hover {
  opacity: .7;
}

.blank {
  composes: typography;
  composes: interactivity;
  background-color: transparent;
  border-color: transparent;
  color: var(--palette-neutral-base);
}

.blank:hover {
  text-decoration: underline;
}

.primary {
  composes: button;
  background-color: var(--palette-primary);
  border-color: var(--palette-primary);
  color: var(--white);
}

.secondary {
  composes: button;
  background-color: var(--white);
  border-color: var(--palette-primary);
  color: var(--palette-primary);
}
