.astro-1,
.astro-2,
.astros-browser,
.astros-laptop,
.astro-with-browser2,
.goth-dancer,
.singer-dancers,
.singer-flying,
.singers {
  position: absolute;
  opacity: 0;
}

.astro-1 {
  background-image: url('frontend/features/styleguide/components/hero/astro-1.svg');
  width: 85px;
  height: 37px;
  left: 25%;
  top: 43%;
}

.astro-1-appear-active {
  animation: floating 20s ease-in-out 1s infinite reverse;
  opacity: 1;
}

.astro-2 {
  background-image: url('frontend/features/styleguide/components/hero/astro-2.svg');
  width: 60px;
  height: 95px;
  left: 24%;
  top: 45%;
}

.astro-2-appear-active {
  animation: floating 20s ease-in-out 1s infinite reverse;
  opacity: 1;
}

.astros-laptop {
  background-image: url('frontend/features/styleguide/components/hero/astros-laptop.svg');
  width: 123px;
  height: 45px;
  left: 60%;
  top: 43%;
}

.astros-laptop-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.astros-browser {
  background-image: url('frontend/features/styleguide/components/hero/astros-browser.svg');
  width: 486px;
  height: 274px;
  left: 20%;
  top: 30%;
}

.astros-browser-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.astro-with-browser2 {
  background-image: url('frontend/features/styleguide/components/hero/astro-with-browser2.svg');
  width: 150px;
  height: 139px;
  right: 25%;
  top: 60%;
}

.astro-with-browser2-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite;
  opacity: 1;
}

.singer-flying {
  background-image: url('frontend/features/styleguide/components/hero/singer-flying.svg');
  width: 148px;
  height: 94px;
  left: 18%;
  top: 41%;
}

.singer-flying-appear-active {
  animation: floating 25s ease-in-out 1.5s infinite;
  opacity: 1;
}

.singer-dancers {
  background-image: url('frontend/features/styleguide/components/hero/singer-dancers.svg');
  width: 141px;
  height: 118px;
  left: 40%;
  top: 30%;
}

.singer-dancers-appear-active {
  animation: floating 30s ease-in-out 2s infinite;
  opacity: 1;
}

.singers {
  background-image: url('frontend/features/styleguide/components/hero/singers.svg');
  width: 150px;
  height: 181px;
  left: 50%;
  top: 49%;
}

.singers-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.goth-dancer {
  background-image: url('frontend/features/styleguide/components/hero/goth-dancer.svg');
  width: 133px;
  height: 101px;
  right: 30%;
  top: 30%;
}

.goth-dancer-appear-active {
  animation: floating 40s ease-in-out infinite;
  opacity: 1;
}

@keyframes floating {
  from { transform: translate(0, 0); }
  33% { transform: translate(-10px, -10px); }
  66% { transform: translate(10px, 10px); }
  to { transform: translate(0, 0); }
}
