.animated-image {
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
}

.astro-1 {
  composes: animated-image;
  background-image: url(astro-1.svg);
  width: 5%;
  height: 10%;
  left: 25%;
  top: 43%;
}

.astro-1-appear-active {
  animation: floating 20s ease-in-out 1s infinite reverse;
  opacity: 1;
}

.astro-2 {
  composes: animated-image;
  background-image: url(astro-2.svg);
  width: 5%;
  height: 20%;
  left: 24%;
  top: 45%;
}

.astro-2-appear-active {
  animation: floating 20s ease-in-out 1s infinite reverse;
  opacity: 1;
}

.astros-laptop {
  composes: animated-image;
  background-image: url(astros-laptop.svg);
  width: 10%;
  height: 10%;
  left: 60%;
  top: 43%;
}

.astros-laptop-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.astros-browser {
  composes: animated-image;
  background-image: url(astros-browser.svg);
  height: 50%;
  left: 20%;
  top: 30%;
  width: 25%;
}

.astros-browser-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.astro-with-browser2 {
  composes: animated-image;
  background-image: url(astro-with-browser2.svg);
  height: 30%;
  right: 25%;
  top: 60%;
  width: 15%;
}

.astro-with-browser2-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite;
  opacity: 1;
}

.singer-flying {
  composes: animated-image;
  background-image: url(singer-flying.svg);
  width: 15%;
  height: 20%;
  left: 18%;
  top: 41%;
}

.singer-flying-appear-active {
  animation: floating 25s ease-in-out 1.5s infinite;
  opacity: 1;
}

.singer-dancers {
  composes: animated-image;
  background-image: url(singer-dancers.svg);
  width: 12%;
  height: 25%;
  left: 40%;
  top: 30%;
}

.singer-dancers-appear-active {
  animation: floating 30s ease-in-out 2s infinite;
  opacity: 1;
}

.singers {
  composes: animated-image;
  background-image: url(singers.svg);
  width: 15%;
  height: 25%;
  left: 50%;
  top: 49%;
}

.singers-appear-active {
  animation: floating 15s ease-in-out 0.5s infinite reverse;
  opacity: 1;
}

.goth-dancer {
  composes: animated-image;
  background-image: url(goth-dancer.svg);
  width: 15%;
  height: 20%;
  right: 30%;
  top: 30%;
}

.goth-dancer-appear-active {
  animation: floating 40s ease-in-out infinite;
  opacity: 1;
}

@keyframes floating {
  from { transform: translate(0, 0); }
  33% { transform: translate(-10px, -10px); }
  66% { transform: translate(10px, 10px); }
  to { transform: translate(0, 0); }
}
