.hero {
  background-size: 100% 100%;
  height: 350px;
  position: relative;
}

.overview {
  composes: hero;
  background-image: url(mds-hero.jpeg);
}

.home {
  composes: overview;
}

.components {
  composes: hero;
  background-image: url(mds-components.jpeg);
}

.brand-identity {
  composes: hero;
  background-image: url(mds-soul.jpeg);
}

.guidelines {
  composes: hero;
  background-image: url(mds-guidelines.jpeg);
}

.hidden {
  composes: hero;
  display: none;
}
