$heroWidth: 1225px;
$heroHeight: 500px;
$largeScreenBreakPoint: 1441px;
$x-wideScreenBreakPoint: 1920px;
$navAndChrome: 215px;
$heroAspectRatio: 2.5;

.hero {
  position: absolute;
  left: 200px;
  top: 65px;
  background-size: 100% 100%;
  display: inline-block;
  width: $heroWidth;
  height: $heroHeight;

  @media (min-width: $largeScreenBreakPoint) {
    width: calc(100vw - #{$navAndChrome});
    height: calc((100vw - #{$navAndChrome}) / #{$heroAspectRatio});
  }

  @media (min-width: $x-wideScreenBreakPoint) {
    // This allows hero to center with inside content
    left: inherit;
    width: $heroWidth;
    height: $heroHeight;
  }
}

.overview {
  composes: hero;
  background-image: url('frontend/features/styleguide/components/hero/mds-hero.jpeg');
}

.home {
  composes: overview;
}

.components {
  composes: hero;
  background-image: url('frontend/features/styleguide/components/hero/mds-components.jpeg');
}

.soul {
  composes: hero;
  background-image: url('frontend/features/styleguide/components/hero/mds-soul.jpeg');
}

.guidelines {
  composes: hero;
  background-image: url('frontend/features/styleguide/components/hero/mds-guidelines.jpeg');
}

.hidden {
  composes: hero;
  display: none;
}
