:root {
  --largeScreenBreakPoint: 1441px;
  --x-wideScreenBreakPoint: 1920px;
}

.stars {
  /* ensure to right of left mountain */
  left: 10%;
  width: 1000px;
  height: 350px;
}

@media (min-width: var(--largeScreenBreakPoint)) {
  .stars {
    width: 1200px;
  }
}

@media (min-width: var(--x-wideScreenBreakPoint)) {
  .stars {
    width: 1600px;
  }
}

@keyframes fade { to { opacity: 0; } }

.mavenConstellation {
  background-image: url(maven-constellation.svg);
  position: absolute;
  width: 59px;
  height: 41px;
  right: 48%;
  top: 28%;
  opacity: 0;
  animation-name: fadeInFlicker;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 15s;
}

.largeStar {
  background-image: url(star-lg.svg);
  position: absolute;
  width: 17px;
  height: 17px;
  right: 21%;
  top: 19%;
  animation-name: flicker;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 10s;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInFlicker {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
