@import '../../styles/spacing.css';

.row {
  display: inline-flex;
  align-items: center;
}

.level {
  align-items: center;
  display: inline-flex;
  margin-left: var(--spacing-medium);
}

.level-tick {
  composes: level;
  margin-right: -3px;
}
