version: 2.1

jobs:
  build:
    branches:
      ignore:
        - gh-pages

    docker:
      - image: cypress/base:8

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v2-dependencies-2-{{ checksum "package.json" }}
          - v2-dependencies-2-

      - run: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - ~/.cache
            - node_modules
          key: v2-dependencies-2-{{ checksum "package.json" }}

      - run: yarn lint

      - run: yarn test

      - run:
          command: yarn start
          background: true

      - run: yarn run wait-on http://localhost:6060 && yarn cypress run
