@import "../../../src/styles/colors-v2.css";
@import "../../../src/styles/spacing.css";

.container {
  margin-bottom: var(--spacing-x-large);
  border: 1px solid var(--mds-grey-12);
  border-radius: 3px;
}

.preview {
  padding: var(--spacing-large);
  position: relative;
  z-index: 3;
}

.controls {
  display: flex;
  align-items: center;
}

.toolbar {
  margin-left: auto;
}

.code {
  border-top: 1px solid var(--mds-grey-12);
}
