@import "../../../src/styles/colors-v2.css";

.container {
  margin-bottom: 32px;
  border: 1px solid var(--mds-grey-12);
  border-radius: 3px;
}

.preview {
  padding: 16px;
  position: relative;
  z-index: 3;
}

.controls {
  display: flex;
  align-items: center;
}

.toolbar {
  margin-left: auto;
}

.code {
  border-top: 1px solid var(--mds-grey-12);
}
