:root {
  /* Primary scale */
  --palette-primary-dark: #1974e2;
  --palette-primary-base: #448fea;
  --palette-primary-light: #72aaef;

  /* Primary interactions */
  --palette-primary-hover: #447bc6;

  /* Action scale */
  --palette-action-dark: #257f0c;
  --palette-action-base: #33ae10;
  --palette-action-light: #41dd14;

  /* Action interactions */
  --palette-action-hover: #328a15;

  /* Highlight scale */
  --palette-highlight-dark: #cc6a00;
  --palette-highlight-base: #ff8400;
  --palette-highlight-light: #ff9d33;

  /* Highlight interactions */
  --palette-highlight-hover: #ffa800;

  /* Caution scale */
  --palette-caution-dark: #dc2f1b;
  --palette-caution-base: #e85342;
  --palette-caution-light: #ee7c6f;

  /* Caution interactions */
  --palette-caution-hover: #e53e2b;

  /* Warning scale */
  --palette-warning-dark: #ffd15a;
  --palette-warning-base: #ffdf8d;
  --palette-warning-light: #ffedc0;

  /* Warning interactions */
  --palette-warning-hover: #ffd874;

  /* Brand */
  --palette-brand-dark: #001c33;

  /* Neutral */
  --palette-neutral-xx-dark: #282624;
  --palette-neutral-x-dark: #333;
  --palette-neutral-dark: #4a4a4a;
  --palette-neutral-mid-dark: #737373;
  --palette-neutral-base: #9d9d9d;
  --palette-neutral-mid: #b6b6b6;
  --palette-neutral-mid-light: #c8c8c8;
  --palette-neutral-light: #e1e1dd;
  --palette-neutral-x-light: #f5f5f2;
  --palette-neutral-xx-light: #fbfaf6;

  /* Accessible colors */
  --palette-caution-text: #d82417;
  --palette-grey-x-light: rgba(0, 0, 0, 0.03);
  --palette-grey-light: rgba(0, 0, 0, 0.12);
  --palette-grey-base: rgba(0, 0, 0, 0.38);
  --palette-grey-dark: rgba(0, 0, 0, 0.54);
  --palette-grey-x-dark: rgba(0, 0, 0, 0.87);

  /* Primitives */
  --white: #fff;
  --black: #000;

  /* New brand colors */
  --palette-new-brand-text: #004595;
  --palette-new-brand-dark: #448fea;
  --palette-new-brand-base: rgba(var(--palette-new-brand-dark), 0.54);
  --palette-new-brand-light: rgba(var(--palette-new-brand-dark), 0.38);
  --palette-new-brand-x-light: rgba(var(--palette-new-brand-dark), 0.12);

  /* New grey colors */
  --palette-new-grey-x-dark: rgba(var(--black), 0.87);
  --palette-new-grey-dark: rgba(var(--black), 0.54);
  --palette-new-grey-base: rgba(var(--black), 0.38);
  --palette-new-grey-light: rgba(var(--black), 0.12);
  --palette-new-grey-x-light: rgba(var(--black), 0.08);
  --palette-new-grey--xx-light: rgba(var(--black), 0.03);

  /* Caution colors */
  --palette-new-caution-text: #b5200f;
  --palette-new-caution-dark: #ee534c;
  --palette-new-caution-base: rgba(var(--palette-new-caution-dark), 0.54);
  --palette-new-caution-light: rgba(var(--palette-new-caution-dark), 0.38);
  --palette-new-caution-x-light: rgba(var(--palette-new-caution-dark), 0.12);

  /* Highlight colors */
  --palette-new-highlight-dark: #f89048;
  --palette-new-highlight-base: rgba(var(--palette-new-highlight-dark), 0.54);
  --palette-new-highlight-light: rgba(var(--palette-new-highlight-dark), 0.38);
  --palette-new-highlight-x-light: rgba(var(--palette-new-highlight-dark), 0.12);

  /* Warning colors */
  --palette-new-warning-dark: #f7d635;
  --palette-new-warning-base: rgba(var(--palette-new-warning-dark), 0.54);
  --palette-new-warning-light: rgba(var(--palette-new-warning-dark), 0.38);
  --palette-new-warning-x-light: rgba(var(--palette-new-warning-dark), 0.12);

  /* Lime colors--I don't know what else to call these */
  --palette-new-lime-dark: #a7de26;
  --palette-new-lime-base: rgba(var(--palette-new-lime-dark), 0.54);
  --palette-new-lime-light: rgba(var(--palette-new-lime-dark), 0.38);
  --palette-new-lime-x-light: rgba(var(--palette-new-lime-dark), 0.12);

  /* Action colors */
  --palette-new-action-dark: #44b76c;
  --palette-new-action-base: rgba(var(--palette-new-action-dark), 0.54);
  --palette-new-action-light: rgba(var(--palette-new-action-dark), 0.38);
  --palette-new-action-x-light: rgba(var(--palette-new-action-dark), 0.12);

  /* Cyan colors */
  --palette-new-cyan-dark: #1cb1af;
  --palette-new-cyan-base: rgba(var(--palette-new-cyan-dark), 0.54);
  --palette-new-cyan-light: rgba(var(--palette-new-cyan-dark), 0.38);
  --palette-new-cyan-x-light: rgba(var(--palette-new-cyan-dark), 0.12);

  /* Blue colors */
  --palette-new-blue-dark: #2d79fe;
  --palette-new-blue-base: rgba(var(--palette-new-blue-dark), 0.54);
  --palette-new-blue-light: rgba(var(--palette-new-blue-dark), 0.38);
  --palette-new-blue-x-light: rgba(var(--palette-new-blue-dark), 0.12);

  /* Indigo colors */
  --palette-new-indigo-dark: #5356c8;
  --palette-new-indigo-base: rgba(var(--palette-new-indigo-dark), 0.54);
  --palette-new-indigo-light: rgba(var(--palette-new-indigo-dark), 0.38);
  --palette-new-indigo-x-light: rgba(var(--palette-new-indigo-dark), 0.12);

  /* Violet colors */
  --palette-new-violet-dark: #b72982;
  --palette-new-violet-base: rgba(var(--palette-new-violet-dark), 0.54);
  --palette-new-violet-light: rgba(var(--palette-new-violet-dark), 0.38);
  --palette-new-violet-x-light: rgba(var(--palette-new-violet-dark), 0.12);
}
