:root {
  /* Action */
  --palette-action: #33ae10;
  --palette-action-hover: #328a15;

  /* Caution */
  --palette-caution: #e85342;
  --palette-caution-hover: #e53e2b;

  /* Highlight */
  --palette-highlight: #ff8400;
  --palette-highlight-hover: #ffa800;

  /* Neutral */
  --palette-neutral-xx-dark: #282624;
  --palette-neutral-x-dark: #333333;
  --palette-neutral-dark: #4a4a4a;
  --palette-neutral-mid-dark: #737373;
  --palette-neutral-base: #9d9d9d;
  --palette-neutral-mid: #b6b6b6;
  --palette-neutral-mid-light: #c8c8c8;
  --palette-neutral-light: #e1e1dd;
  --palette-neutral-x-light: #f5f5f2;
  --palette-neutral-xx-light: #fbfaf6;

  /* Primary */
  --palette-primary: #448fea;
  --palette-primary-hover: #447bc6;

  /* Primitives */
  --white: #fff;
  --black: #000;

  /* Warning */
  --palette-warning: #ffdf8d;
}
