:root {
  /* Primitives */
  --white: #fff;
  --black: #000;

  /* Brand colors */
  --mds-brand-dark: #1974e2;
  --mds-brand-text: #004595;
  --mds-brand-100: #448fea;
  --mds-brand-54: #448fea8a;
  --mds-brand-38: #448fea61;
  --mds-brand-12: #448fea1f;
  --mds-brand-8: #448fea14;
  --mds-brand-3: #448fea08;

  /* Nav Blue */
  --mds-nav-blue-100: #0c1432;
  --mds-nav-blue-54: #0c14328a;
  --mds-nav-blue-38: #0c143261;
  --mds-nav-blue-12: #0c14321f;
  --mds-nav-blue-8: #0c143214;
  --mds-nav-blue-3: #0c143208;

  /* Grey transparent */
  --mds-grey-87: #000000de;
  --mds-grey-54: #0000008a;
  --mds-grey-38: #00000061;
  --mds-grey-12: #0000001f;
  --mds-grey-8: #00000014;
  --mds-grey-3: #00000008;

  /* Grey opaque */
  --mds-grey-opaque-87: #212121;
  --mds-grey-opaque-54: #757575;
  --mds-grey-opaque-38: #9e9e9e;
  --mds-grey-opaque-12: #e0e0e0;
  --mds-grey-opaque-8: #ebebeb;
  --mds-grey-opaque-3: #f7f7f7;

  /* Kantata Branding colors */
  --mds-kantata-blaze: #ef7314;
  --mds-kantata-sunshine: #ffcb00;
  --mds-kantata-meteorite: #4a3f72;
  --mds-kantata-carbon: #2e2d2c;
  --mds-kantata-bronze: #ae8d58;

  /* Red colors */
  --mds-red-text: #b5200f;
  --mds-red-100: #ee534c;
  --mds-red-54: #ee534c8a;
  --mds-red-38: #ee534c61;
  --mds-red-12: #ee534c1f;

  /* Orange colors */
  --mds-orange-100: #f89048;
  --mds-orange-54: #f890488a;
  --mds-orange-38: #f8904861;
  --mds-orange-12: #f890481f;

  /* Yellow colors */
  --mds-yellow-100: #f7d635;
  --mds-yellow-54: #f7d6358a;
  --mds-yellow-38: #f7d63561;
  --mds-yellow-12: #f7d6351f;

  /* Lime colors */
  --mds-lime-100: #a7de26;
  --mds-lime-54: #a7de268a;
  --mds-lime-38: #a7de2661;
  --mds-lime-12: #a7de261f;

  /* Green colors */
  --mds-green-100: #44b76c;
  --mds-green-54: #44b76c8a;
  --mds-green-38: #44b76c61;
  --mds-green-12: #44b76c1f;

  /* Cyan colors */
  --mds-cyan-100: #1cb1af;
  --mds-cyan-54: #1cb1af8a;
  --mds-cyan-38: #1cb1af61;
  --mds-cyan-12: #1cb1af1f;

  /* Blue colors */
  --mds-blue-100: #2d79fe;
  --mds-blue-54: #2d79fe8a;
  --mds-blue-38: #2d79fe61;
  --mds-blue-12: #2d79fe1f;

  /* Indigo colors */
  --mds-indigo-100: #5356c8;
  --mds-indigo-54: #5356c88a;
  --mds-indigo-38: #5356c861;
  --mds-indigo-12: #5356c81f;
  --mds-indigo-opaque-8: #f1f1fb;

  /* Violet colors */
  --mds-violet-100: #b72982;
  --mds-violet-54: #b729828a;
  --mds-violet-38: #b7298261;
  --mds-violet-12: #b729821f;
  --mds-violet-opaque-8: #f9eef9;
}
