:root {
  /* Primitives */
  --white: #fff;
  --black: #000;

  /* Brand colors */
  --mds-brand-text: #004595;
  --mds-brand-100: #448fea;
  --mds-brand-54: #448fea36;
  --mds-brand-38: #448fea26;
  --mds-brand-12: #448fea0c;

  /* Grey */
  --mds-grey-87: #00000057;
  --mds-grey-54: #00000036;
  --mds-grey-38: #00000026;
  --mds-grey-12: #0000000c;
  --mds-grey-8: #00000008;
  --mds-grey-3: #00000003;

  /* Red colors */
  --mds-red-text: #b5200f;
  --mds-red-100: #ee534c;
  --mds-red-54: #ee534c36;
  --mds-red-38: #ee534c26;
  --mds-red-12: #ee534c0c;

  /* Orange colors */
  --mds-orange-100: #f89048;
  --mds-orange-54: rgba(var(--mds-orange-100), 0.54);
  --mds-orange-38: rgba(var(--mds-orange-100), 0.38);
  --mds-orange-12: rgba(var(--mds-orange-100), 0.12);

  /* Yellow colors */
  --mds-yellow-100: #f7d635;
  --mds-yellow-54: rgba(var(--mds-yellow-100), 0.54);
  --mds-yellow-38: rgba(var(--mds-yellow-100), 0.38);
  --mds-yellow-12: rgba(var(--mds-yellow-100), 0.12);

  /* Lime colors */
  --mds-lime-100: #a7de26;
  --mds-lime-54: rgba(var(--mds-lime-100), 0.54);
  --mds-lime-38: rgba(var(--mds-lime-100), 0.38);
  --mds-lime-12: rgba(var(--mds-lime-100), 0.12);

  /* Action colors */
  --mds-green-100: #44b76c;
  --mds-green-54: rgba(var(--mds-green-100), 0.54);
  --mds-green-38: rgba(var(--mds-green-100), 0.38);
  --mds-green-12: rgba(var(--mds-green-100), 0.12);

  /* Cyan colors */
  --mds-cyan-100: #1cb1af;
  --mds-cyan-54: rgba(var(--mds-cyan-100), 0.54);
  --mds-cyan-38: rgba(var(--mds-cyan-100), 0.38);
  --mds-cyan-12: rgba(var(--mds-cyan-100), 0.12);

  /* Blue colors */
  --mds-blue-100: #2d79fe;
  --mds-blue-54: rgba(var(--mds-blue-100), 0.54);
  --mds-blue-38: rgba(var(--mds-blue-100), 0.38);
  --mds-blue-12: rgba(var(--mds-blue-100), 0.12);

  /* Indigo colors */
  --mds-indigo-100: #5356c8;
  --mds-indigo-54: rgba(var(--mds-indigo-100), 0.54);
  --mds-indigo-38: rgba(var(--mds-indigo-100), 0.38);
  --mds-indigo-12: rgba(var(--mds-indigo-100), 0.12);

  /* Violet colors */
  --mds-violet-100: #b72982;
  --mds-violet-54: rgba(var(--mds-violet-100), 0.54);
  --mds-violet-38: rgba(var(--mds-violet-100), 0.38);
  --mds-violet-12: rgba(var(--mds-violet-100), 0.12);
}
