:root {
  --iconSize: 18px;
  --iconSizeMicro: 9px;
  --iconSizeMiniscule: 11px;
  --iconSizeTiny: 14px;
  --iconSizeSmall: 16px;
  --iconSizeLarge: 20px;
  --iconSizeJumbo: 28px;
  --iconSizeBig: 32px;
  --iconSizeHuge: 48px;
  --iconSizeGigantic: 64px;
  --statusLightGreen: #A4DD74;
}
