@import './colors.css';

:root {
  --mavenlink-type-font-family:  'Open Sans', sans-serif;
  --mavenlink-type-font-headings: 'Open Sans', sans-serif;
  --mavenlink-type-font-accent: 'Merriweather', serif;
  --mavenlink-type-font-weight-light: 300;
  --mavenlink-type-font-weight: 400;
  --mavenlink-type-font-color: var(--palette-neutral-x-dark);
  --mavenlink-type-font-style: normal;
  --mavenlink-type-base-size: 16px;
  --mavenlink-type-button-font-size: 14px;
  --mavenlink-type-body-font-size: 12px;
  --mavenlink-type-text-rendering: optimizeLegibility;
  --mavenlink-type-line-height: 1.5;;
  --mavenlink-type-header-line-height: 1.2;
}
