:root {
  --mds-type-font-family: "Open Sans", system-ui, sans-serif;
  --mds-type-page-title: 400 1.375rem var(--mds-type-font-family);
  --mds-type-subhead-1: 600 1rem var(--mds-type-font-family);
  --mds-type-subhead-2: 400 1rem var(--mds-type-font-family);
  --mds-type-subhead-3: 600 0.875rem var(--mds-type-font-family);
  --mds-type-subtext: 400 0.75rem var(--mds-type-font-family);
  --mds-type-content: 400 0.875rem var(--mds-type-font-family);
}
