@import './colors.css';
@import './colors-v2.css';

:root {
  --mavenlink-type-font-family: 'Open Sans', system-ui, sans-serif;
  --mavenlink-type-font-headings: 'Open Sans', system-ui, sans-serif;
  --mavenlink-type-font-accent: 'Merriweather', serif;
  --mavenlink-type-font-weight-light: 300;
  --mavenlink-type-font-weight: 400;
  --mavenlink-type-font-color: var(--mds-grey-87);
  --mavenlink-type-font-style: normal;
  --mavenlink-type-base-size: 14px;
  --mavenlink-type-small-size: 12px;
  --mavenlink-type-button-font-size: var(--mavenlink-type-base-size);
  --mavenlink-type-text-rendering: optimizeLegibility;
  --mavenlink-type-line-height: 1;
  --mavenlink-type-header-line-height: 1.2;
}
