@import "../../../src/styles/colors.css";
@import '../../../src/styles/colors-v2.css';
@import '../../../src/styles/typography.css';
@import "../../../src/styles/typography-v2.css";

:global(.page-title) {
  font: var(--mds-type-page-title);
}

:global(.subhead-1) {
  font: var(--mds-type-subhead-1);
}

:global(.subhead-2) {
  font: var(--mds-type-subhead-2);
}

:global(.subhead-3) {
  font: var(--mds-type-subhead-3);
}

:global(.content) {
  font: var(--mds-type-content);
}

:global(.subtext) {
  font: var(--mds-type-subtext);
}
