@import "../../../src/styles/colors-v2.css";

.link:link,
.link:visited {
  font-size: inherit;
  color: var(--mds-brand-100);
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--mds-grey-54);
  cursor: pointer;
}
