@import '../../../src/styles/colors-v2.css';

:root {
  --iconSizeSmall: 16px;
  --iconSizeMedium: 20px;
  --iconSizeLarge: 28px;
}

.icon-base[role="button"] {
  cursor: pointer;
}

.fill-primary {
  fill: var(--mds-brand-100);
}

.fill-action {
  fill: var(--mds-green-100);
}

.fill-caution {
  fill: var(--mds-red-100);
}

.fill-highlight {
  fill: var(--mds-orange-100);
}

.fill-gray {
  fill: var(--mds-grey-38);
}

.fill-none {
  fill: none;
}

.stroke-primary {
  stroke: var(--mds-brand-100);
}

.stroke-action {
  stroke: var(--mds-green-100);
}

.stroke-highlight {
  stroke: var(--mds-orange-100);
}

.stroke-caution {
  stroke: var(--mds-red-100);
}

.stroke-gray {
  stroke: var(--mds-grey-38);
}

.stroke-none {
  stroke: none;
}

.color-primary {
  color: var(--mds-brand-100);
}

.color-action {
  color: var(--mds-green-100);
}

.color-highlight {
  color: var(--mds-orange-100);
}

.color-caution {
  color: var(--mds-red-100);
}

.color-gray {
  color: var(--mds-grey-38);
}

.color-transparent {
  color: transparent;
}

.size-small {
  height: var(--iconSizeSmall);
  width: var(--iconSizeSmall);
}

.size-medium {
  height: var(--iconSizeMedium);
  width: var(--iconSizeMedium);
}

.size-large {
  height: var(--iconSizeLarge);
  width: var(--iconSizeLarge);
}
