@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography-v2.css';

.container {
  border: 1px solid var(--mds-grey-38);
  border-radius: 3px;
  box-sizing: border-box;
  padding-bottom: var(--spacing-medium);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  width: fit-content;
}

.header {
  display: flex;
  padding-bottom: var(--spacing-large);
  padding-top: var(--spacing-large);
}

.month-button {
  flex-grow: 0;
}

.year-button {
  color: var(--black);
  flex-grow: 1;
}

.calendar-grid {
  border-collapse: collapse;
}

.weekday {
  color: var(--black);
  font: var(--mds-type-subhead-3);
  padding-bottom: var(--spacing-medium);
  padding-top: var(--spacing-medium);
}

.date {
  box-sizing: border-box;
  color: var(--black);
  font: var(--mds-type-content);
  height: var(--spacing-x-large);
  text-align: center;
  width: var(--spacing-x-large);
}

.inactive-date {
  composes: date;
  background-color: var(--mds-grey-3);
  color: var(--mds-grey-54);
}

.date:hover {
  background-color: var(--mds-grey-12);
  color: var(--black);
  border-radius: 3px;
}
