@import "../../../src/styles/colors.css";

:global(.swatches) {
  list-style: none;
}

:global(.color-container) {
  position: relative;
  width: 165px;
  margin-top: -4px;
}

:global(.greys.color-container) {
  width: 300px;
}

[class^='swatch-'] {
  height: 85px;
  width: 85px;
  display: inline-block;
}

:global(.swatch-title) {
  font-size: 24px;
}

:global(.swatch-black),
:global(.swatch-brand),
:global(.swatch-primary),
:global(.swatch-action),
:global(.swatch-caution),
:global(.swatch-highlight),
:global(.swatch-warning) {
  position: relative;
}

/* Actions */
:global(.swatch-primary) {
  background-color: var(--palette-primary-base);
}

:global(.swatch-action) {
  background-color: var(--palette-action-base);
}

:global(.swatch-warning) {
  background-color: var(--palette-warning-base);
}

:global(.swatch-highlight) {
  background-color: var(--palette-highlight-base);
}

:global(.swatch-caution) {
  background-color: var(--palette-caution-base);
}

:global(.swatch-brand-dark) {
  background-color: var(--palette-brand-dark);
}

/* greys */
:global(.swatch-grey-x-dark) {
  background-color: var(--palette-grey-x-dark);
}

:global(.swatch-grey-dark) {
  background-color: var(--palette-grey-dark);
}

:global(.swatch-grey-base) {
  background-color: var(--palette-grey-base);
}

:global(.swatch-grey-light) {
  background-color: var(--palette-grey-light);
}

:global(.swatch-grey-x-light) {
  background-color: var(--palette-grey-x-light);
}

:global(.swatch-white) {
  background-color: var(--white);
}

:global(.rgba),
:global(.hex),
:global(.text) {
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
}

:global(.text) {
  color: var(--white);
  position: absolute;
  bottom: 5px;
  left: 5px;
}

:global(.rgba),
:global(.hex) {
  color: salmon;
}

:global(.color-container .hex) {
  position: absolute;
  top: 0;
  left: 100px;
}

:global(.greys.color-container .hex) {
  position: absolute;
  top: 20px;
  left: 100px;
}

:global(.greys.color-container .rgba) {
  position: absolute;
  top: 0;
  left: 100px;
}
:global(.swatch-grey-light .text),
:global(.swatch-grey-x-light .text),
:global(.swatch-white .text) {
  color: var(--palette-grey-x-dark);
}

