@import "../../../src/styles/colors.css";
@import "../../../src/styles/typography.css";

.type-top {
  margin-top: 60px;
}

.type-title {
  border-bottom: 1px solid var(--palette-neutral-light);
}

.type-section-title {
  color: #716f67;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.type-left,
.type-right {
  flex: 1;
}

.type-left {
  margin-right: 40px;
}

.type-serif,
.type-sans {
  h3 {
    font-size: 22px;
    font-weight: 300;
  }
}

.type-serif {
  font-family: var(--mavenlink-type-font-accent);
}

.type-serif  h1,
.type-serif  h2,
.type-serif  h3 {
  font-family: var(--mavenlink-type-font-accent);
}

.type-abc {
  margin-top: 30px;
  margin-bottom: 0;
}

.type-abc .type-serif,
.type-abc .type-sans  > div {
  margin-bottom: 0;
}

.type-abc .type-serif h1 {
  font-weight: normal;
  font-size: 80px;
  margin-bottom: 0;
}

.type-abc .type-sans h1 {
  font-size: 90px;
  font-weight: normal;
  margin-bottom: 0;
}

.type-punctuation,
.type-characters {
  margin-top: 0;
  margin-bottom: 0;
}

.type-punctuation .type-serif span,
.type-characters .type-serif span {
  font-size: 17px;
  font-weight: normal;
}

.type-puncuation .type-sans span {
  font-size: 18px;
  font-weight: normal;
}

.type-punctuation {
  margin-bottom: 50px;
}

.type-merriweather h1,
.type-merriweather h2,
.type-merriweather h3,
.type-merriweather h4,
.type-merriweather h5,
.type-merriweather h6 {
  font-family: var(--mavenlink-type-font-accent);
}

.type-columns {
  margin-bottom: 0;
  height: 75px;
  align-items: center;
  border-bottom: 1px solid var(--palette-neutral-light);
}

.type-columns * {
  display: flex;
}

.type-headings > div,
.type-headings > span,
.type-columns > div,
.type-columns > span {
    margin-bottom: 0;
}


.type-headings > div:nth-of-type(1),
.type-headings > span:nth-of-type(1),
.type-columns > div:nth-of-type(1),
.type-columns > span:nth-of-type(1) {
  flex-basis: 15%;
  flex-grow: 1;
}

.type-headings > div:nth-of-type(2),
.type-headings > span:nth-of-type(2),
.type-columns > div:nth-of-type(2),
.type-columns > span:nth-of-type(2) {
  flex-basis: 15%;
  flex-grow: 1;
}

.type-headings > div:nth-of-type(3),
.type-headings > span:nth-of-type(3),
.type-columns > div:nth-of-type(3),
.type-columns > span:nth-of-type(3) {
  flex-basis: 45%;
  flex-grow: 1;
}

.type-headings > div:nth-of-type(4),
.type-headings > span:nth-of-type(4),
.type-columns > div:nth-of-type(4),
.type-columns > span:nth-of-type(4) {
  flex-basis: 25%;
  flex-grow: 1;
  color: #716f67;
  font-size: 14px;
}

.type-headings span:nth-of-type(4) {
  font-size: 11px;
}

.type-headings {
  margin-bottom: 0;
  border-bottom: 1px solid var(--palette-neutral-mid-dark);
}

.type-headings span {
  color: #716f67;
  text-transform: uppercase;
  font-family: var(--mavenlink-type-font-family);
  font-size: 11px;
}

.type-text-level p {
  font-size: 12px;
  width: 100%;
}
