@import "../../../src/styles/colors-v2.css";
@import "../../../src/styles/typography-v2.css";
@import "../../../src/styles/spacing.css";

:root {
  --fullLeftDistance: 6px;
  --selectedBorderWidth: 3px;
}

.list {
  margin: 0;
  padding-left: var(--spacing-large);
}

.item {
  color: var(--mds-grey-87);
  display: block;
  margin: var(--spacing-medium) var(--spacing-small) var(--spacing-medium) 0;
  font: var(--mds-type-content);
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  composes: link from '../link/link.css';
  display: inline-block;
  padding-left: var(--fullLeftDistance);
}

.link:link,
.link:visited {
  color: var(--mds-grey-87);
}
