@import "../../../src/styles/colors-v2.css";

:root {
  --fullLeftDistance: 6px;
  --selectedBorderWidth: 3px;
}

.list {
  margin: 0;
  padding-left: 16px;
}

.item {
  color: var(--mds-grey-87);
  display: block;
  margin: 8px 0;
  font-size: 16px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  composes: link from '../link/link.css';
  display: inline-block;
  padding-left: var(--fullLeftDistance);
}

.link:link,
.link:visited {
  color: var(--mds-grey-38);
}

.current {
  composes: link;
  border-left: var(--selectedBorderWidth) solid var(--mds-brand-100);
  font-weight: bold;
  padding-left: 3px;
}

.current:link,
.current:visited {
  color: var(--black);
}
