@import '../../styles/spacing.css';

.container {
  margin: var(--spacing-large);
}

.heading {
  margin: 0;
}

.description {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: var(--spacing-medium);
}
