@import '../../styles/spacing.css';
@import '../../styles/typography-v2.css';

.heading {
  font: var(--mds-type-page-title);
  margin: 0;
}

.description {
  font: var(--mds-type-content);
  margin: var(--spacing-large) 0 0;
}
