@import '../../../src/styles/colors-v2.css';
@import '../../../src/styles/typography-v2.css';
@import '../../../src/styles/spacing.css';

:global(.section) {
  display: flex;
  margin-bottom: var(--spacing-x-large);
}

:global(.section-title) {
  font: var(--mds-type-subhead-1);
}

:global(.separator) {
  border-bottom: var(--spacing-x-small) solid var(--mds-grey-54);
  margin-bottom: var(--spacing-large);
  margin-top: var(--spacing-medium);
  width: 45px;
}

:global(.section-content) {
  font: var(--mds-type-content);
}
