@import '../../../src/styles/colors-v2.css';
@import '../../../src/styles/typography.css';

:global(.prologue-title) {
  font-family: var(--mavenlink-type-font-accent);
  font-weight: bold;
  font-size: 26px;
}

:global(.prologue-svg) {
  display: inline-block;
  position: relative;
}

:global(.prologue-svg-library) {
  width: 145px;
  height: 136px;
}

:global(.prologue-svg-reuse) {
  width: 143px;
  height: 138px;
}

:global(.prologue-svg-deploy) {
  width: 190px;
  height: 130px;
}

:global(.prologue-separator) {
  display: block;
  width: 45px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--mds-grey-54);
}

:global(.prologue-para) {
  display: inline-block;
  width: 500px;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
}

:global(.prologue-para-deploy),
:global(.prologue-para-library) {
  margin-right: 100px;
}

:global(.prologue-para-reuse) {
  margin-left: 100px;
}
