@import "../../../src/styles/colors-v2.css";
@import "../../../src/styles/spacing.css";

.root {
  display: flex;
}

.sidebar {
  background: var(--white);
  border-right: 1px solid var(--mds-grey-12);
  display: inline-block;
  position: sticky;
  left: 0;
  z-index: 99;
}

.main {
  display: inline-block;
  width: 750px;
}
