@import "../../../src/styles/colors-v2.css";

.root {
  background-color: var(--white);
  padding-left: 200px;
}

.content {
  max-width: 1000px;
  padding: 16px 32px;
  margin: 0 auto;
}

.sidebar {
  background-color: var(--white);
  border: solid var(--mds-grey-12);
  border-width: 1px 1px 0 0;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
}
