@import "../../../src/styles/colors-v2.css";

.root,
.docs,
.tabButtons,
.header {
  color: var(--mds-grey-87);
}

.root {
  margin-bottom: 48px;
}

.tabs,
.header {
  margin-bottom: 24px;
}

.tabButtons {
  margin-bottom: 16px;
}

.examples {
  margin-top: 32px;
}
