@import "../../../src/styles/colors-v2.css";
@import "../../../src/styles/spacing.css";

.root,
.docs,
.tabButtons,
.header {
  color: var(--mds-grey-87);
}

.root {
  margin-bottom: 48px;
}

.tabs,
.header {
  margin-bottom: 24px;
}

.tabButtons {
  margin-bottom: var(--spacing-large);
}

.examples {
  margin-top: var(--spacing-x-large);
}
