@import '../../styles/colors-v2.css';
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.input {
  composes: input from '../input/input.css';
}

.invalid-icon {
  composes: invalid-icon from '../input/input.css';
}

.invalid-input {
  composes: invalid-input from '../input/input.css';
}
