@import '../../styles/spacing.css';

.input {
  composes: input from '../input/input.css';
  height: 100%;
  min-height: var(--spacing-x-large);
}

.invalid-icon {
  composes: invalid-icon from '../input/input.css';
}

.invalid-input {
  composes: invalid-input from '../input/input.css';
}
