.container {
  composes: container from './cell-control.css';
}

.innerContainer {
  composes: container from './select.css';
}

.input {
  composes: input from './select.css';
}

.invalidInput {
  composes: invalidInput from './select.css';
}
