@import '../../styles/spacing.css';

.container {
  composes: container from '../select/select.css';
  height: var(--spacing-x-large);
}

.input {
  composes: input from '../select/select.css';
  border: none;
  height: 100%;
}

.invalidInput {
  composes: input-invalid from '../select/select.css';
  border: none;
}
