@import '../../styles/spacing.css';

.input {
  composes: input from '../control/select.css';
  border: none;
}

.invalidInput {
  composes: input-invalid from '../control/select.css';
  border: none;
}
