@import "../../styles/spacing.css";

.container {
  composes: container from './cell-control.css';
  composes: container from '../control/input.css';
  position: relative;
}

.textarea {
  composes: input from '../control/input.css';
  border: none;
  height: 100%;
  min-height: var(--spacing-x-large) !important;
  overflow: hidden;
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  resize: none;
  width: 100%;
}

.textarea:focus {
  position: absolute;
  z-index: 1;
}
