@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography-v2.css';

.input {
  height: var(--spacing-x-large);
  display: flex;
}

.input[readonly] {
  opacity: 0.3;
}

.labelInline {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.label {
  color: var(--mds-grey-54);
  display: inline-flex;
  font: var(--mds-type-content);
  column-gap: var(--spacing-small);
}

.invalidLabel {
  composes: label;
  color: var(--mds-red-text);
  gap: var(--spacing-small);
}
