.input {
  composes: input from 'src/components/__internal__/abstract-custom-field/abstract-custom-field.css';
}

.input-container {
  composes: input-container from 'src/components/__internal__/abstract-custom-field/abstract-custom-field.css';
}

.input-icon {
  composes: input-icon from 'src/components/__internal__/abstract-custom-field/abstract-custom-field.css';
  pointer-events: none;
}
