@import '../../styles/colors.css';
@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography.css';

.custom-field-input-text {
  font-family: var(--mavenlink-type-font-family);
}

.heading-container {
  color: var(--mds-grey-54);
  font-size: var(--mavenlink-type-small-size);
}

.error .heading-container {
  color: var(--mds-red-100);
}

.help {
  color: var(--mds-grey-54);
  font-size: var(--mavenlink-type-base-size);
}

.error .help {
  color: var(--mds-red-100);
}

.input {
  border: 1px solid var(--mds-grey-12);
  border-radius: var(--spacing-x-small);
  box-sizing: border-box;
  color: var(--mds-grey-87);
  font-size: var(--mavenlink-type-base-size);
  padding: 6px var(--spacing-x-large) 7px var(--spacing-medium);
  width: 100%;
}

.input:disabled {
  background-color: var(--mds-grey-3);
}

.input:read-only {
  background-color: var(--mds-grey-3);
}

.input:invalid {
  border-color: var(--mds-red-100);
  padding-right: var(--spacing-x-large);
}

.input-container {
  height: 34px;
  margin: var(--spacing-small) 0;
  position: relative;
  width: 100%;
}

.input-container input::placeholder {
  color: var(--mds-grey-54);
}

.input-icon {
  composes: icon-base from '../icon/icon.css';
  pointer-events: none;
  position: absolute;
  right: 6px;
  top: 6px;
}

.label {
  margin-right: var(--spacing-small);
}

.optional {
  display: inline-block;
  margin-right: var(--spacing-small);
  min-width: 30px;
}
