.input {
  composes: input from '../__internal__/custom-field.css';
}

.input-container {
  composes: input-container from '../__internal__/custom-field.css';
}

.input-icon {
  composes: input-icon from '../__internal__/custom-field.css';
}
