@import '../../styles/spacing.css';

.description {
  margin: 0;
}

.section {
  margin-bottom: var(--spacing-x-large);
}

.section > * {
  margin-bottom: var(--spacing-large);
}

.subheading {
  margin: 0;
}
