@import '../../styles/spacing.css';

.container {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--spacing-small);
  position: absolute;
  right: var(--spacing-medium);
  transform: translateY(-50%);
  top: 50%;
}
