@import '../../styles/colors-v2.css';
@import "../../styles/spacing.css";
@import "../../styles/typography-v2.css";

.container {
  height: 100%;
}

.input {
  border: 1px solid var(--mds-grey-12);
  border-radius: 3px;
  box-sizing: border-box;
  font: var(--mds-type-content);
  height: 100%;
  min-height: var(--spacing-x-large);
  margin: 0;
  padding: 0 var(--spacing-x-large) 0 var(--spacing-medium);
  width: 100%;
}

.input::placeholder {
  color: var(--mds-grey-54);
}

.input:read-only {
  background-color: var(--mds-grey-opaque-3);
}

.invalid-icon {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  right: calc(var(--spacing-x-large) / 2);
  top: 50%;
  transform: translate(50%, -50%);
}

/*
  An input only looks invalid after user interaction.
  The first time render will _look_ valid while it is internally invalid for a11y purposes.
  i.e. Do not implement `.input:invalid`.
*/
.invalid-input {
  composes: input;
  border-color: var(--mds-red-100);
}

.invalid-input:hover {
  border-color: var(--mds-red-100);
}
