@import '../../styles/typography-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/colors-v2.css';

.container {
  border: 1px solid var(--mds-grey-38);
  display: flex;
  flex-direction: column;
}

.selection {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--mds-type-font-family);
  height: var(--spacing-x-large);
  margin: 0 var(--spacing-medium);
  overflow: hidden;
  white-space: nowrap;
}
