@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--mavenlink-type-font-family);
  text-align: left;
  width: 100%;
}

.table * {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.head {
  background: var(--palette-neutral-xx-light);
  border-bottom: 1px solid var(--palette-neutral-light);
  border-top: 1px solid var(--palette-neutral-light);
  box-sizing: border-box;
}

.row {
  border-bottom: 1px solid var(--palette-neutral-light);
  box-sizing: border-box;
}

.cell {
  box-sizing: border-box;
  font-weight: normal;
  line-height: 1.8;
  padding-left: var(--spacing-medium);
}

.headerCell {
  composes: cell;
  border-right: 1px solid var(--palette-neutral-light);
}

.headerCell:last-child {
  border-right: none;
}
