@import "../../styles/colors-v2.css";
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--mavenlink-type-font-family);
  text-align: left;
  width: 100%;
}

.table * {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.head {
  background: var(--mds-grey-3);
  border-bottom: 1px solid var(--mds-grey-12);
  box-sizing: border-box;
}

.row {
  border-bottom: 1px solid var(--mds-grey-12);
  box-sizing: border-box;
}

.cell {
  box-sizing: border-box;
  font-weight: normal;
  padding: var(--spacing-medium);
  font-size: var(--mavenlink-type-base-size);
  vertical-align: top;
  color: var(--mds-grey-87);
}

.headerCell {
  composes: cell;
  font-size: var(--mavenlink-type-small-size);
  text-align: left;
  vertical-align: bottom;
  color: var(--mds-grey-54);
}
