@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography-v2.css';

.wrapper {
  width: fit-content;
  position: relative;
  display: inline-flex;
}

.tooltip {
  position: absolute;
  padding: var(--spacing-medium);
  width: fit-content;
  max-width: calc(10 * var(--spacing-x-large));
  font: var(--mds-type-subtext);
  border-radius: 3px;
  background-color: var(--mds-grey-87);
  border-color: var(--mds-grey-87);
  color: var(--white);
}

.top::before,
.bottom::before,
.left::before,
.right::before {
  --triangle-height: var(--spacing-medium);

  content: '';
  border: var(--triangle-height) solid transparent; /* stylelint-disable-line mds/colors */
  position: absolute;
}

.top::before {
  border-top-color: var(--mds-grey-87);
  left: calc(50% - var(--triangle-height));
  top: 100%;
}

.bottom::before {
  border-bottom-color: var(--mds-grey-87);
  left: calc(50% - var(--triangle-height));
  top: calc(-2 * var(--triangle-height));
}

.left::before {
  border-left-color: var(--mds-grey-87);
  left: 100%;
  top: calc(50% - var(--triangle-height));
}

.right::before {
  border-right-color: var(--mds-grey-87);
  left: calc(-2 * var(--triangle-height));
  top: calc(50% - var(--triangle-height));
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
