@import '../../styles/typography-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/colors-v2.css';

.option {
  --selected-background: var(--mds-grey-12);

  cursor: pointer;
  font: var(--mds-type-content);
  height: var(--spacing-x-large);
  line-height: var(--spacing-x-large); /* stylelint-disable-line mds/typography */
  list-style-type: none;
  overflow: hidden;
  padding: 0 var(--spacing-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option:hover {
  background-color: var(--selected-background); /* stylelint-disable-line mds/colors */
}

.selected {
  composes: option;
  background-color: var(--selected-background); /* stylelint-disable-line mds/colors */
}
