@import '../../styles/typography-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/colors-v2.css';

.hidden {
  display: none;
}

.option {
  --selected-background: var(--mds-grey-12);

  cursor: pointer;
  font: var(--mds-type-content);
  list-style-type: none;
  overflow: hidden;
  padding: var(--spacing-medium);
}

.option:hover {
  background-color: var(--selected-background) !important; /* stylelint-disable-line mds/colors */
}

.selected {
  background-color: var(--selected-background); /* stylelint-disable-line mds/colors */
}

.read-only {
  opacity: 50%;
}
