{
  "rules": {
    // Override: role button for file-picker's label allows it to
    // behave as a file dialog open button in my VoiceOver testing
    "jsx-a11y/no-noninteractive-element-to-interactive-role": [
      'error',
      {
        label: [
          'button',
        ],
      },
    ]
  }
}
