@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/typography.css";

.title,
.label,
.filename,
.remove {
  font-family: var(--mavenlink-type-font-family);
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: var(--palette-neutral-x-light);
  min-height: 100px;
  vertical-align: middle;
  border: 2px dashed var(--palette-grey-light);
}

.highlight-dropzone {
  border: 2px solid var(--palette-grey-base);
  opacity: 0.4;
}

.label-base {
  display: block;
  flex: 1;
  margin: 0 0 var(--spacing-small);
  color: var(--palette-grey-dark);
  cursor: pointer;
}

.label {
  composes: label-base;
  line-height: 100px;
}

.filename,
.label {
  font-size: var(--mavenlink-type-base-size);
}

.title {
  composes: label-base;
  font-size: var(--mavenlink-type-small-size);
}

.file {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label:focus {
  outline: 1px dotted var(--palette-grey-dark);
  outline: -webkit-focus-ring-color auto 5px;
}

.file-list {
  display: flex;
  flex-direction: column;
}

.file-ul {
  margin: 0;
  padding: 0;
}

.file-list-button {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--palette-grey-light);
  line-height: var(--spacing-x-large);
}

.icon {
  align-self: center;
  margin-right: var(--spacing-medium);
}

.upload {
  color: var(--palette-grey-dark);
  vertical-align: middle;
}

.upload-icon {
  margin-top: -1px;
  margin-right: var(--spacing-small);
}

.filename {
  flex-grow: 1;
  text-align: left;
  color: var(--palette-grey-x-dark);
}

.remove {
  flex: 0 0 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--palette-grey-base);
  text-align: center;
  font-size: 18px;
}
