@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography.css';

.label {
  color: var(--mds-grey-54);
  font-family: var(--mavenlink-type-font-family); /* stylelint-disable-line mds/typography */
  font-size: var(--mavenlink-type-small-size); /* stylelint-disable-line mds/typography */
}

.invalid-label {
  composes: label;
  color: var(--mds-red-text);
}

.required {
  composes: label;
  margin-left: var(--spacing-small);
}

.invalid-required {
  composes: required;
  color: var(--mds-red-100);
}

.control-container {
  margin-bottom: var(--spacing-small);
  margin-top: var(--spacing-small);
  position: relative;
}

.error-message {
  color: var(--mds-red-text);
  font-family: var(--mavenlink-type-font-family); /* stylelint-disable-line mds/typography */
  font-size: var(--mavenlink-type-base-size); /* stylelint-disable-line mds/typography */
}
