@import '../../styles/colors-v2.css';
@import '../../styles/spacing.css';
@import '../../styles/typography-v2.css';

.label {
  color: var(--mds-grey-54);
  display: inline-flex;
  font: var(--mds-type-content);
  column-gap: var(--spacing-small);
}

.invalid-label {
  composes: label;
  color: var(--mds-red-text);
}

.control-container {
  min-height: var(--spacing-x-large);
  margin-bottom: var(--spacing-small);
  margin-top: var(--spacing-small);
  position: relative;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-message {
  color: var(--mds-red-text);
  font: var(--mds-type-content);
  padding-bottom: var(--spacing-medium);
}
